// Zeyada
@font-face {
	font-family: 'Conv_Yeyada';
	src: url('fonts/Yeyada.eot');
  src: local('☺'), url('../fonts/Yeyada.woff') format('woff'),
                  url('../fonts/Yeyada.ttf') format('truetype'),
                  url('../fonts/Yeyada.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
