$font-title: 'Zeyada';
$font-primary: 'Open Sans';
$font-primary-semi-bold: 'Open Sans Semibold';
$color: (
  primary: #85c0d5,
  secondary: #363636,
  white: #ffffff,
  black: #282828,
  a: #666666,
  b: #f0f0f0,
  c: #e8f6fa,
);
