#header {
}
#header::after {
  @extend .clr;
}
.logo {
  float: left;
}
.menu-bar {
  float: right;
  ul::after {
    @extend .clr;
  }
  li {
    float: left;
    padding-left: 15px;
  }
  li::before {
    content: "";
    display: inline-block;
    border: 5px solid map-get($color, primary);
    border-radius: 50%;
    margin-right: 10px;
  }
  a {
    text-decoration: none;
    color: map-get($color, black);
  }
}
