#about-us {
  background-color: map-get($color, b);
  padding: 1px;
}
.about-us-content {
  margin-top: 55px;  
  ul::after {
    @extend .clr;
  }
  li {
    float: left;
    width: 32.25%;
    margin-right: 1.6129032%;
    h3 {
      text-transform: uppercase;
      font-weight: bold;
    }
    span {
      color: map-get($color, primary);
    }
    p {
      color: map-get($color, a);
      margin: 25px 0;
      text-align: justify;  
    }
    img {
      width: 100%;
    }
  }
  li:last-child {
    margin-right: 0;
  }
}
