#products {
  text-align: center;
}
.tabs {
  margin-top: 30px;
  margin-bottom: 30px;
  li {
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
  }
  li:first-child {
    border: 1px solid map-get($color, primary);
    border-radius: 5px;
    padding: 10px;
    background: map-get($color, primary);
    a {
      color: map-get($color, white); 
    }   
  }
  a {
    text-decoration: none;
    color: map-get($color, black);
    text-transform: uppercase;
  }
}
.products-content {
  ul::after {
    @extend .clr;
  }
  li {
    float: left;
    width: 25%;
    img {
      width: 100%;
    }
  }
}
.bg-extension {
  background-color: map-get($color, secondary);
  height: 115px;
  .btn-view {
    margin-top: 30px;
    padding: 10px 40px;
  }
}